.infoWindow h1 {
    background-color: darkolivegreen;
    border-radius: 5px;
    color: #fff;
    text-align: center;
    padding: 5px;
}

.infoWindow p {
    line-height: 1.5em;
    margin: 8px auto;
    font-weight: 700;
    margin: 5px;
}

.infoWindow p:first-of-type {
    text-align: center;
}

.infoWindow .details {
    font-style: italic;
    text-align: justify;
    
}

.infoWindow .readMore {
    border-radius: 5px;
    text-align: center;
    background-color: coral;
    font-weight: bold;
    padding: 5px;
}